<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            background-color: chocolate;
            color : #FFF;
        }
        .container{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .items{
            background-color: aqua;
            width: 200px;
            height: 200px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <section class="container">
        <h1>welcome to my page</h1>
        <div>
            <div class="items"></div>
        </div>
        <li>
            <ul>1</ul>
            <ul>2</ul>
            <ul>3</ul>
        </li>
    </section>
</body>
</html>